# "\e[A" and "\e[B" being whatever your terminal uses for up & down.

"\e[A": history-search-backward

"\e[B": history-search-forward


# Two escapes clear command line.

"\e\e": "\C-a\C-k"

# meta-0 puts cursor after command before parameter
"\M-z": "\C-p\C-a\M-f "
set show-all-if-ambiguous on

#need to set lscolors properly for below, but will color completions
#set colored-stats on
set horizontal-scroll-mode on
